@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600&display=swap');

$light-purple: #d789d7;
$dark-purple: #5d54a4;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: $dark-purple;
}

header{
    background-color: $light-purple;
    color: $dark-purple;
    text-align: center;
    padding: 2%;
}

section{
    color: $light-purple;
    font-size: 2rem;
    padding: 5%;
    text-align: center;

    .container{
        border: 1px solid $light-purple;
        padding: 2%;
        width: 20%;
        margin: 0px auto 30px auto;
    }
}

.img-cont{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.option{
    border: 1px solid $light-purple;
    padding: 10px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    cursor: pointer;
    transition: ease-in-out 100ms;

    &:hover{
        transform: scale(1.2);
        transition: ease-in-out 100ms;
    }
}

.result{ 
    font-weight: bold;
    margin-bottom: 30px;
}

.green_glow {
    border: 1px solid #7dd87d;
    box-shadow: 0 0 10px #4c9173;
}

.red_glow {
    border: 1px solid #ff4c4c;
    box-shadow: 0 0 10px #ee2c2c;
}

.gray_glow{
    border: 1px solid #ffffff80;
    box-shadow: 0 0 10px #b1b0af;
}


.player_container{
    display: flex;
    justify-content: center;
    gap: 11%;
}
@media screen and (max-width: 400px) {

    header{
        width: auto;
        margin: 100px 50px 50px 50px;
    }

    section .container{
        width: 250px;
    }

    .player_container{
        gap: 45%;
    }

}

// @media screen and (max-width: 1050px){

//     header{
//         margin: 200px;
//     }
// }